aws-cdk.core<=1.167.0
aws-cdk.aws_kinesis<=1.167.0
aws-cdk.aws_s3<=1.167.0
aws-cdk.aws_kinesisfirehose<=1.167.0
aws-cdk.aws_iam<=1.167.0
aws-cdk.aws_logs<=1.167.0
aws-cdk.aws_autoscaling<=1.167.0
aws-cdk.aws_ec2<=1.167.0
aws-cdk.aws_ecs<=1.167.0
boto3
